@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

@layer base {
    html, body {
        font-family: 'Open Sans', sans-serif;
        @apply antialiased bg-gray-50
    }
}

.flag-select {
    @apply !pb-0
}
.flag-select button {
    @apply h-14 border-2 border-gray-200 transition-colors bg-white rounded hover:border-primary-brand-color
}
.flag-select button >span span:nth-child(2) {
    @apply text-sm pl-2
}

.ReactCollapse--collapse {
    @apply transition-all
}